.history {
  &__background-1 {
    min-height: 645px;
    object-fit: cover;
    background: url("/img/history_background/back_1.png") no-repeat 100%/cover;
  }

  &__h1 {
    padding-top: 317px;
    z-index: 3;
    position: absolute;
    width: 1048px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 67px;
    line-height: 82px;
    text-transform: uppercase;
    color: $first-font-color;
  }

  &__h2 {
    top: 600px;
    z-index: 1;
    padding-top: 8px;
  }

  &__background {
    top: 403px;
    width: 1344px;
    height: 323px;
    z-index: 0;
    background: linear-gradient(180deg, $counter 0%, rgba(0, 185, 255, 0) 95.05%), #FF0072;
    mix-blend-mode: multiply;
  }

  &__vector {
    top: 105px;
  }
}

.information {
  display: flex;
  flex-direction: column;
  min-height: 2378px;

  &__vector-1 {
    top: 873px;
  }

  &__block-4 {
    margin-top: 73px;
  }


  &__block {
    display: flex;
    flex-direction: row;
    // margin-top: 25px;

    &_img-first {
      position: relative;
      height: 507px;
    }

    &_img-second {
      position: relative;
      height: 415px;
    }

    &_img-therd {
      position: relative;
      height: 845px;
    }

    &_img-four {
      position: relative;
      height: 560px;
    }

    &_img-1 {
      width: 474px;
      height: 469px;
      object-fit: cover;
      z-index: 1;

    }

    &_img-2 {
      width: 423px;
      height: 402px;
      object-fit: cover;
      z-index: 1;
    }

    &_img-3 {
      width: 462px;
      height: 843px;
      object-fit: cover;
      z-index: 1;
    }

    &_img-4 {
      width: 724px;
      height: 483px;
      object-fit: cover;
      z-index: 1;
    }

    &_shawdow-1 {
      position: relative;
      width: 394px;
      height: 329px;
      transform: translate(-38px, -292px);
      z-index: -1;
      background-color: $square-background;
    }

    &_shawdow-2 {
      position: relative;
      width: 394px;
      height: 329px;
      transform: translate(68px, -300px);
      z-index: -1;
      background-color: $square-background;
    }

    &_shawdow-3 {
      position: relative;
      width: 394px;
      height: 412px;
      transform: translate(-40px, -369px);
      z-index: -1;
      background-color: $square-background;
    }

    &_shawdow-4 {
      position: relative;
      width: 536px;
      height: 364px;
      transform: translate(-63px, -353px);
      z-index: 1;
      background-color: $square-background;
    }

    &_descr {
      display: block;
      margin: 0 auto;
      padding-top: 5px;
      width: 588px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: black;
    }

    &_descr-2 {
      padding-top: 70px;
      width: 588px;
    }

    &_descr-3 {
      padding-top: 66px;
      width: 573px;
    }

    &_descr-4 {
      margin-left: 42px;
      padding-top: 100px;
      width: 349px;
      position: relative;
      z-index: 2;
    }
  }
}

#information__block-1 {
  margin-top: 50px;
}
