.header {
  &__bg {
    top: 0;
    min-height: 115px;
    width: 100%;
    background-color: $background;
    position: sticky;
    z-index: 10;
    display: flex;
    align-items: center;
    border-bottom: 7px solid;
    border-color: $counter;
  }

}


.navigation {
  &__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: $second-font-color;
    margin-bottom: 10px;
  }

  &__logo {
    width: 298px;
    height: 75px;

    &_right {
      width: 176px;
      height: 58px;
    }

    &_align {
      display: flex;
      flex-direction: row;

    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    // margin: 10px 0 10px 0;
  }

  &_line {
    background-color: rgb(220 203 92);
    width: auto;
    height: 2px;
    border: none;

  }

  &__menu {
    list-style-type: none;
    // display: flex;
    // display: inline-flex;
    // justify-content: center;
    margin-top: 10px;
    width: 100%;

    &_div {
      display: flex;
      flex-direction: row;
      // justify-content: center;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      /* or 156% */
      text-transform: uppercase;
      color: #00B9FF;
    }

    &_item {
      margin-left: 15px;

      a {
        &:hover {
          color: $second-font-color;
        }
      }
    }

    &_link {


      &:hover {
        text-decoration: none;
      }
    }
  }
}
