.maps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;

  &__img {
    object-fit: cover;
    min-height: 750px;
    background: url("/img/butterfly_patterns_wings_surface_insect_53689_1920x1080.jpg") no-repeat 100%/cover;
  }

  &__block {
    display: flex;
    flex-direction: column;


    &_descr {
      margin-top: 15px;
      width: 450px;
    }

    &_map {
      margin-top: 15px;
      width: 600px;
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;

      iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
      }
    }
  }
}

// .map-responsive {
//   overflow: hidden;
//   padding-bottom: 56.25%;
//   position: relative;
//   height: 0;
// }

// .map-responsive iframe {
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   position: absolute;
// }
