.maps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;

  &__img {
    object-fit: cover;
    min-height: 575px;
    // background: url("/img/butterfly_patterns_wings_surface_insect_53689_1920x1080.jpg") no-repeat 100%/cover;
  }

  &__block {
    display: flex;
    flex-direction: column;
    z-index: 3;

    &_name {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      color: $third-font-color;
    }


    &_descr {
      margin-top: 12px;
      width: 384px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $third-font-color;
    }

    &_map {
      margin-top: 34px;
      // width: 561px;
      // height: 281px;
      overflow: hidden;
      // padding-bottom: 56.25%;
      // position: relative;
      // height: 0;

      // iframe {
      //   left: 0;
      //   top: 0;
      //   height: 100%;
      //   width: 100%;
      //   position: absolute;
      // }
    }
  }
}

// .map-responsive {
//   overflow: hidden;
//   padding-bottom: 56.25%;
//   position: relative;
//   height: 0;
// }

// .map-responsive iframe {
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   position: absolute;
// }
