.slider-bg {
  background-color: rgb(182, 182, 182);

  // &__wrapper {
  //   display: flex;
  //   flex-direction: row;
  // }

  &__img {
    display: none;


    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__main-block {
    /* background-color: rgb(219, 58, 58); */
    position: relative;
    display: flex;
    align-items: center;
  }

  &__arow {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-content: center;
    width: 97.5%;
    height: inherit;
    // margin-top: 50%;
    z-index: 5;
    cursor: pointer;

    &-left {
      width: 50px;
      height: 50px;

      img {
        width: inherit;
        height: inherit;
      }
    }

    &-right {
      // display: block;
      width: 50px;
      height: 50px;

      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}

.active-class {
  display: block;
}


.show {
  display: block;
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;

}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.offer__slider_active {
  display: block;
}
