// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
//   /* font-family: 'Roboto', sans-serif; */
//   font-family: 'icomoon';
// }

// a {
//   text-decoration: none;
// }

// @font-face {
//   font-family: 'icomoon';
//   font-display: swap;
//   src: url('../fonts/icomoon.eot');
//   src: url('../fonts/icomoon.woff') format('woff'),
//     url('../fonts/icomoon.ttf') format('truetype');
//   font-weight: 100;
//   /* 100 Thin */
//   font-style: normal;
// }

// // Usage


// // .container {
// //     max-width: 1200px;
// //     margin: 0 auto;
// // }

// // .btn {
// //     width: 220px;
// //     height: 65px;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     background-color: #fff;
// //     font-size: 18px;
// //     font-weight: bold;
// //     border: 1px solid rgba(0, 0, 0, 0.2);
// //     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
// //     cursor: pointer;
// //     transition: 0.3s all;
// //     outline: none;
// //     &_white {
// //         background-color: #fff;
// //     }
// //     &_dark {
// //         background-color: $dark;
// //         color: #fff;
// //         border: none;
// //     }
// //     &_min {
// //         height: 50px;
// //     }
// //     &:hover {
// //         box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3); 
// //     }
// // }



// // .divider {
// //     width: 330px;
// //     height: 1px;
// //     margin: 0 auto;
// //     background-color: rgba(0, 0, 0, 0.5);
// // }

// // .title {
// //     font-size: 36px;
// //     font-weight: 400;
// // }



// .show {
//   display: block;
// }

// .hide {
//   display: none;
// }

// .fade {
//   animation-name: fade;
//   animation-duration: 1.5s;

// }

// @keyframes fade {
//   from {
//     opacity: 0.1;
//   }

//   to {
//     opacity: 1;
//   }
// }

// .offer__slider_active {
//   display: block;
// }
